/*************** Reset css. ********************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*********************** Propiedades para todo el documento. **************************/

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
}

.error-message {
  font-size: 1.6rem;
}

/*************************** Pantalla de título. **********************************/

#main-title {
  font-size: 4rem;
  font-weight: bold;
}

#index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

#login-link {
  font-size: 2.5rem;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 7vh;
}

/*************** Estilos de los formularios. *******************/

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.6rem;
  margin-bottom: 1.5vh;
}

input {
  font-size: 1.6rem;
  width: 30rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2.5rem;
}

.submit {
  margin-top: 2.5vh;
}

/********** Pantalla de selección de usuarios o cursos. *************/

#users-courses-container {
  display: flex;
  justify-content: space-around;
  margin-top: 35vh;
}

.users-courses-link div {
  font-size: 3rem;
  border: 4px solid black;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

/*********** Pantalla de lista de usuarios o cursos. *************/

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.list-title {
  font-size: 2rem;
}

caption {
  padding: 1rem;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

td {
  font-size: 1.6rem;
  line-height: 3rem;
  padding: 0.5rem 1rem;
  border: 3px solid black;
}

.paragraph-link {
  color: red;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.updatePasswordUserName {
  display: none;
}
