<h1>Course detail</h1>

<p>Name : {{course.courseName}}</p>
<p>Description : {{course.courseDescription}}</p>

{{#ifEqual user.role "TA"}}
<a href="/updateCourse/{{course._id}}">
  <button>Update course</button></a>
<a href="/deleteCourse/{{course._id}}">
  <button>Delete course</button></a>
{{/ifEqual}}
