<div class="button-container">

  {{#ifEqual user.role "TA"}}
  <a href="/updateCourse/{{course._id}}">
    <button>Update course</button></a>
  <a href="/deleteCourse/{{course._id}}">
    <button>Delete course</button></a>
  {{/ifEqual}}

</div>

<div id="detail">

  <h2>Course detail</h2>

  <p>Name : {{course.courseName}}</p>
  <p>Description : {{course.courseDescription}}</p>

</div>