<div class="button-container">

  <a href="/logout"><button>Log out</button></a>

</div>

<div class="form-container">

  <form action="/createCourse" method="POST">

    <label for="courseName">Course name:</label>
    <input type="text" name="courseName" value="">

    <label for="description">Description:</label>
    <input type="text" name="description" value="">

    <input type="submit" value="Create course">

    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}

  </form>
