<p>Change your password</p>
<form action="/newPassword" method="POST">
  <input type="password" name="password" value="">
  <input type="submit" value="Update password">
</form>
{{#if message}}
<p>{{message}}</p>
{{/if}}
