<form action="/updatePassword" method="POST">

  <input type="text" name="username" 
  value={{user.username}} class="updatePasswordUserName">

  <label for="password">Current password:</label>
  <input type="password" name="password" class="text-input">

  <input type="submit" value="Submit">

  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}

</form>

<a href="/logout"><button>Log out</button></a>
