<div class="button-container">

  <a href="/logout"><button>Log out</button></a>

</div>

<div class="form-container">

  <form action="/updateCourse/{{course._id}}" method="POST">

    <label for="name">Course name:</label>
    <input type="text" name="name" value="{{course.courseName}}">

    <label for="description">Description:</label>
    <input type="text" name="description" value="{{course.courseDescription}}">

    <input type="submit" value="Submit">

    {{#if message}}
    <div class="error-message">{{ message }}</div>
    {{/if}}

  </form>

</div>
