<div class="button-container">

  {{#ifEqual currentUser.username userInfo.username}}
  <a href="/updatePassword"><button>Update password</button></a>
  {{/ifEqual}}

  {{#ifNotEqual currentUser.username userInfo.username}}
  {{#ifEqual currentUser.role "BOSS"}}
  <a href="/deleteUser/{{userInfo._id}}"><button>Delete user</button></a>
  {{/ifEqual}}
  {{/ifNotEqual}}

</div>

<div id="detail">

  <h2>User detail</h2>

  <p>Name: {{userInfo.username}}</p>
  <p>Role: <span class="role">{{userInfo.role}}</span></p>

</div>
