<h1>User detail</h1>

<p>Name: {{userInfo.username}}</p>
<p>Role: <span class="role">{{userInfo.role}}</span></p>

{{#ifEqual currentUser.username userInfo.username}}
<a href="/updatePassword">Update password</a>
{{/ifEqual}}

{{#ifNotEqual currentUser.username userInfo.username}}
{{#ifEqual currentUser.role "BOSS"}}
<a href="/deleteUser/{{userInfo._id}}">Delete user</a>
{{/ifEqual}}
{{/ifNotEqual}}
